<div class="small-3 columns">
  <a href="#"><img src="http://cdn.akamai.steamstatic.com/steam/apps/252950/capsule_sm_120.jpg"></a>
  <div class="small-6 column single-bid-details">
    <div class="row">Coins bid</div>
    <div class="row">Payout</div>
  </div>
  <div class="small-6 column single-bid-details">
    <div class="row">Bet finish</div>
    <div class="row">Multipler</div>
  </div>
</div>
