<div class="small-3 columns">
  <p>--Bet icon--</p>
  <div class="small-6 column single-bid-details">
    <div class="row">Coins bid</div>
    <div class="row">Payout if winning bid</div>
  </div>
  <div class="small-6 column single-bid-details">
    <div class="row">Time left till bet complete</div>
    <div class="row">Multipler / Odds</div>
  </div>
</div>
