<div class="small-12 column">
  <a href="#"><img src="http://cdn.akamai.steamstatic.com/steam/apps/252950/capsule_sm_120.jpg"></a>
</div>
<div class="small-6 columns single-bid-details">
  <div>Coins bid</div>
  <div>Payout</div>
</div>
<div class="small-6 columns single-bid-details">
  <div>Bet finish</div>
  <div>Multipler</div>
</div>
<div class="small-12 column">
  <div>Bid won! :)</div>
  <div>Bid lost! :(</div>
</div>
