$header-font-color: #08a9ee;
$form-label-font-color: #dddddd;

@import "../components/foundation/scss/foundation";

.leaderboard {
  text-align: center;
}

.navigation-bar {
  .center {
    text-align: center;
  }
}

.bid-info {
  text-align: center;
}

.bids {
  text-align: center;
}

.single-bid-details {
  text-align: left;
}

.home-sign-in {
  text-align: center;
}

.place-bid {
  text-align: center;
}

body {
  color: #dddddd;
  background-image: url(http://cdn.akamai.steamstatic.com/store/promo/livingroom/U3NjAxNTgzNw/bg.jpg?v=3);
}
