$header-font-color: #08a9ee;
$form-label-font-color: #dddddd;

@import "../components/foundation/scss/foundation";

.steambet-description {
  margin-top: 100px;
  p {
    text-align: left;
  }
}

.leaderboard {
  text-align: center;
}

.navigation-bar {
  .center {
    text-align: center;
  }
}

.bid-info {
  text-align: center;
}

.bids {
  text-align: center;
}

.single-bid-details {
  text-align: left;
}

.home-sign-in {
  margin-top: 100px;
  text-align: center;
}

.splash-table {
  border: 0;
  background: 0;
  td {
    padding: 0;
    color: #dddddd;
  }
  tr:nth-of-type(even){
    background: transparent !important;
  }
}

td {
  text-align: center;
}

.place-bid {
  text-align: center;
}

body {
  color: #dddddd;
  background-color: #06152A;
  background-image: url(http://cdn.akamai.steamstatic.com/store/promo/livingroom/U3NjAxNTgzNw/bg.jpg?v=3);
}
