<h4 class="small-12 column">Richest Users</h4>
<div class="small-12 column top-users">
  <div ng-repeat="user in richest">
    <div class="small-6 columns">
      <img style="float: left" src="{{user.avatar}}" alt="">
      {{user.username}}
    </div>
    <div class="small-6 columns">
      {{user.coins}}
      <img style="height: 32px" ng-show='$first' src="http://hydra-media.cursecdn.com/dota2.gamepedia.com/9/9a/Cosmetic_icon_The_International_2015_-_750_Coins.png">
      <img style="height: 32px" ng-show='!$first' src="http://hydra-media.cursecdn.com/dota2.gamepedia.com/6/68/Cosmetic_icon_The_International_2015_-_25_Coins.png">
    </div>
  </div>
</div>
<h4 class="small-12 column">Biggest Wins</h4>
<div class="small-12 column richest-users">
  <div class="small-4 columns">
    Today
  </div>
  <div class="small-4 columns">
    User
  </div>
  <div class="small-4 columns">
    Amount
  </div>

  <div class="small-4 columns">
    Week
  </div>
  <div class="small-4 columns">
    User
  </div>
  <div class="small-4 columns">
    Amount
  </div>

  <div class="small-4 columns">
    Month
  </div>
  <div class="small-4 columns">
    User
  </div>
  <div class="small-4 columns">
    Amount
  </div>

  <div class="small-4 columns">
    Year
  </div>
  <div class="small-4 columns">
    User
  </div>
  <div class="small-4 columns">
    Amount
  </div>

  <div class="small-4 columns">
    All Time
  </div>
  <div class="small-4 columns">
    User
  </div>
  <div class="small-4 columns">
    Amount
  </div>
</div>
