<h4 class="small-12 column">Richest Users</h4>
<div class="small-12 column top-users">
  <div ng-repeat="user in richest">
    <div class="small-6 columns">
      <img src="{{user.avatar}}" alt="">
      {{user.username}}
    </div>
    <div class="small-6 columns">
      {{user.coins}}
    </div>
  </div>
</div>
<h4 class="small-12 column">Biggest Wins</h4>
<div class="small-12 column richest-users">
  <div class="small-3 columns">
    Today
  </div>
  <div class="small-4 columns">
    User
  </div>
  <div class="small-5 columns">
    Win Amount
  </div>

  <div class="small-3 columns">
    Week
  </div>
  <div class="small-4 columns">
    User
  </div>
  <div class="small-5 columns">
    Win Amount
  </div>

  <div class="small-3 columns">
    Month
  </div>
  <div class="small-4 columns">
    User
  </div>
  <div class="small-5 columns">
    Win Amount
  </div>

  <div class="small-3 columns">
    Year
  </div>
  <div class="small-4 columns">
    User
  </div>
  <div class="small-5 columns">
    Win Amount
  </div>

  <div class="small-3 columns">
    All Time
  </div>
  <div class="small-4 columns">
    User
  </div>
  <div class="small-5 columns">
    Win Amount
  </div>
</div>
