<div class="row place-bid">
  <h2>Place your bet now!</h2>
  <p ng-show="message">{{message}}</p>
  <div class="small-8 columns">
    <form>
      <div class="row">
        <div class="small-6 columns">
          <label for="right-label" class="right inline">Game:</label>
        </div>
        <div class="small-6 columns">
          <select ng-model="bet.game" ng-options="game.name for game in games" ng-change="changeGame()"></select>
        </div>
      </div>
      <div class="row">
        <div class="small-6 columns">
          <label for="right-label" class="right inline">Coins:</label>
        </div>
        <div class="small-3 columns">
          <input ng-model="bet.coins" type="text" id="right-label" placeholder="Coins to bid" ng-change="coinChange()">
        </div>
        <div class="small-3 columns">
          <label for="right-label" class="left inline">{{(coins - bet.coins) | number}} left</label>
        </div>
      </div>
      <div class="row">
        <div class="small-6 columns">
          <label for="right-label" class="right inline">Number of users:</label>
        </div>
        <div class="small-6 columns">
          <input ng-model="bet.bet" type="number" min="0" id="right-label" placeholder="Users online">
        </div>
      </div>
      <div class="row">
        <div class="small-6 columns">
          <label for="right-label" class="right inline">Date and time for bid:</label>
        </div>
        <div class="small-6 columns">
          <input ng-model="bet.complete_time" type="text" class="date-picker" id="right-label" placeholder="Place bid for...">
        </div>
      </div>
      <div class="row">
        <div class="small-6 columns">
          <label for="right-label" class="right inline">Within:</label>
        </div>
        <div class="small-6 columns">
          <select ng-model="bet.range">
            <option value="">Choose bid range</option>
            <option value="0">Exact</option>
            <option value="10">Within 10</option>
            <option value="100">Within 100</option>
            <option value="1000">Within 1000</option>
            <option value="10000">Within 10,000</option>
          </select>
        </div>
      </div>
    </form>
  </div>
  <div class="small-4 columns">
    <a href="#">
      <img ng-show="bet.game.app_id" ng-src="http://cdn.akamai.steamstatic.com/steam/apps/{{bet.game.app_id}}/header.jpg">
      <img ng-hide="bet.game.app_id" ng-src="http://hydra-media.cursecdn.com/dota2.gamepedia.com/6/68/Cosmetic_icon_The_International_2015_-_25_Coins.png">
    </a>
    <p>&nbsp;<span ng-show="bet.game">{{bet.game.name}}<br>Current users: {{num_players | number}}</span></p>
    <a href="#" class="button round" ng-click="submit()">Place bid</a>
  </div>
</div>
