<div class="row">
  <div class="small-8 columns">
    <h2>Place your bid now!</h2>
    <div class="row">Coins:</div>
    <div class="row">Number of users:</div>
    <div class="row">Date this amount of users online:</div>
  </div>
  <div class="small-4 columns">
    <p>--Game icon--</p>
    <p>--Game Title--</p>
  </div>
</div>
