<div class="row place-bid">
  <h2>Place your bid now!</h2>
  <div class="small-8 columns">
    <form>
      <div class="row">
        <div class="small-6 columns">
          <label for="right-label" class="right inline">Coins:</label>
        </div>
        <div class="small-6 columns">
          <input type="text" id="right-label" placeholder="Coins to bid">
        </div>
      </div>
      <div class="row">
        <div class="small-6 columns">
          <label for="right-label" class="right inline">Number of users:</label>
        </div>
        <div class="small-6 columns">
          <input type="text" id="right-label" placeholder="Users online">
        </div>
      </div>
      <div class="row">
        <div class="small-6 columns">
          <label for="right-label" class="right inline">Date and time for bid:</label>
        </div>
        <div class="small-6 columns">
          <input type="text" id="right-label" placeholder="Place bid for...">
        </div>
      </div>
      <div class="row">
        <div class="small-6 columns">
          <label for="right-label" class="right inline">Within:</label>
        </div>
        <div class="small-6 columns">
          <input type="text" id="right-label" placeholder="Choose bid range">
        </div>
      </div>
    </form>
  </div>
  <div class="small-4 columns">
    <a href="/auth/steam"><img src="http://cdn.akamai.steamstatic.com/steam/apps/252950/header.jpg"></a>
    <p>--Game Title--</p>
    <a href="#" class="button round">Place bid</a>
  </div>
</div>
