<div class="small-12 column">
  <h3>Previous Bets</h3>

  <div ng-repeat="bet in yourprebets">
    <div class="small-12 column">
      <% include ../components/placed-bid %>
    </div>
  </div>
</div>
