<div class="row home-sign-in">
  <div class="row">
    <div class="small-6 small-centered columns">
      <h1><%- title %></h1>
    </div>
  </div>

  <div class="row">
    <table class="small-6 small-centered columns splash-table">
      <td style="text-align: center">Sign in to Start Bidding!</td>
      <td>
        <a href="/auth/steam">
          <img src="http://steamcommunity-a.akamaihd.net/public/images/signinthroughsteam/sits_large_noborder.png" width="114" height="43" border="0">
        </a>
      </td>
    </table>
  </div>

  <div class="row">
    <table class="small-10 small-centered columns splash-table steambet-description">
      <td style="text-align: center">
        <h4>What is SteamBet?</h4>
        <p>Steam very usefully tracks the amount of current users playing its games at any specific times.</p>
        <p>SteamBet allows you to bid on how many players will be online at the time of your choosing.</p>
        <p>Compete with friends to gain the maximum amount of coins possible!</p>
      </td>
      <td>
        <a href="/auth/steam">
          <img src="http://hydra-media.cursecdn.com/dota2.gamepedia.com/9/9a/Cosmetic_icon_The_International_2015_-_750_Coins.png">
        </a>
      </td>
    </table>
  </div>
</div>
