<div class="row home-sign-in">
  <div class="row">
    <h1><%- title %></h1>
  </div>
  <div class="row">
    <p class="small-6 column">Sign in to Start Bidding!</p>
    <div class="small-6 column">--Insert steam sign in here--</div>
  </div>
</div>
