<div class="row home-sign-in">
  <div class="row">
    <h1><%- title %></h1>
  </div>
  <div class="row">
    <p class="small-6 column">Sign in to Start Bidding!</p>
    <div class="small-6 column">
      <a href="#" class="button round">
        <img src="http://steamcommunity-a.akamaihd.net/public/images/signinthroughsteam/sits_large_noborder.png" width="114" height="43" border="0">
      </a>
    </div>
  </div>
</div>
