<!doctype html>
<html lang="en" ng-app="steambet" ng-controller="AppController">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <title><%- title %></title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/components/rome/dist/rome.min.css">
  <script src='/components/rome/dist/rome.min.js'></script>
  <script src='/components/moment/moment.js'></script>
  <script type="text/javascript" src="/components/angular/angular.min.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script type="text/javascript" src="/js/steambet.js"></script>
  <% if (ENV_DEVELOPMENT) { %>
    <script src="http://localhost:35729/livereload.js"></script>
  <% } %>
</head>
<body>
  <nav class="top-bar" data-topbar role="navigation">
    <ul class="title-area">
      <li class="name">
        <h1><a href="#"><%- title %></a></h1>
      </li>
      <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
    </ul>

    <section class="top-bar-section">
      <ul class="right">
        <li class="active"><a href="#">
          <% if (user) { %>
            <img src="<%- user.avatar %>">
          <% } %>
        </a></li>
        <li class="has-dropdown">
          <% if (user) { %>
            <a href="#"><%- user.username %></a>
            <ul class="dropdown">
              <li><a href="#">Place Bid</a></li>
              <li><a href="#">Current Bids</a></li>
              <li><a href="/logout">Log Out</a></li>
            </ul>
          <% } else { %>
            <a href="/auth/steam"><img src="http://steamcommunity-a.akamaihd.net/public/images/signinthroughsteam/sits_small.png"></a>
          <% } %>
        </li>
      </ul>
    </section>
  </nav>
