<% include header %>

<% if (user) { %>
  <div class="row">
    <div class="small-8 columns">
      <% include index/place-bid %>
      <% include index/your-bids %>
      <% include index/live-bids %>
    </div>
    <div class="small-4 columns leaderboard">
      <% include index/leaderboard %>
    </div>
  </div>
<% } else { %>
  <% include index/sign-in %>
<% } %>

<% include footer %>
